.add-form {
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #aaa;
}
.add-form > * {
  width: 100%;
  display: block;
  margin-top: 1.5em;
  box-sizing: border-box;
}
#title {
  padding: 2px 10px;
  height: 30px;
}
#description {
  padding: 10px;
  height: 80px;
  resize: none;
}
.add-form > button {
  height: 30px;
  cursor: pointer;
}
