.c-section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.c-box {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
  height: 592px;
  max-width: 432px;
  padding: 0 1rem;
  width: 100%;

  /* Vertical and horizontal center alignment */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.c-grid__answer {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  height: 192px;
}

.p-chat__bubble {
  background: #41b6e6;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem;
  margin-right: 1rem;
  max-width: 80%;
  width: auto;
  position: relative;
}
.p-chat__bubble::before {
  content: "";
  display: block;
  position: absolute;
  top: 30%;
  width: 0;
  height: 0;
  border-style: solid;
}

.p-chat__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 0 !important;
}
.p-chat__row .p-chat__bubble::before {
  left: -15px;
  border-width: 7.5px 20px 7.5px 0;
  border-color: transparent #41b6e6 transparent transparent;
}

.p-chat__reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-right: 0 !important;
}
.p-chat__reverse .p-chat__bubble::before {
  right: -15px;
  border-width: 7.5px 0 7.5px 20px;
  border-color: transparent transparent transparent #41b6e6;
}

.p-question__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.p-question__description {
  font-size: 1rem;
  letter-spacing: 0.125rem;
  line-height: 1.7;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1s infinite ease-in-out;
  animation: load7 1s infinite ease-in-out;
}
.loader {
  color: #6187fa;
  font-size: 10px;
  margin: 1em auto 0;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}