.toDoListItem {
  list-style-type: none;
  border-bottom: solid 1px #000;
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.toDoListItem.done {
  color: #c0c0c0;
}
.toDoListItem.done span {
  text-decoration: line-through;
}

.toDoListItem label {
  flex-grow: 1;
  cursor: pointer;
}
.toDoListItem input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
.toDoListItem input[type="checkbox"] + span::before {
  display: inline-block;
  content: "";
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-right: 0.5rem;
  vertical-align: text-top;
}
input[type="checkbox"]:checked + span::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpolyline fill='none' stroke='%230bd' stroke-width='3' points='2,7.3 7.3,12.7 18,2 '/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 2px;
}
.toDoListItem button {
  flex-basis: 40px;
  cursor: pointer;
}
